body {
  height: 100vh; /* Para asegurarse de que el contenido esté centrado en toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
form {
  width: 100%;
  max-width: 320px; /* Ancho máximo del formulario */
  padding: 15px;
  border-radius: 8px;
 
}
img {
  display: block;
  margin: 0 auto 15px; /* Centrar la imagen del logo */
}
