/* Body */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  font-family: 'Jost', sans-serif;
  overflow: hidden;

}

/* Logotipo de la empresa */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logotipo {
  width: 30%;
}

h1, h2, h3 {
  font-family: 'Jost', sans-serif;
}

/* Contenedor de contenido */
#container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  margin-left: 100px; 
}

/* Texto animado */
#animatedText {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #333;
  animation: blink 0.5s step-end infinite alternate;
}

/* Botones flotantes */
.buttons {
  display: flex;
  gap: 10px;
  position: fixed; 
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%); 
}

.buttons a {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

/* Título de Gestión de Proyectos */
#titulo-Gestion-Proyectos {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#titulo-Gestion-Proyectos .btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Sidebar */
.sidebar {
  width: 280px;
  height: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

/* Contenido principal */
.content {
  flex: 1;
  padding: 20px;
  margin-bottom: 10%;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Espaciado de los botones */
.btn-group {
  margin-top: 20px;
}

/* Estilos de la tabla */
.table {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-dark th {
  background-color: #343a40;
  color: #fff;
}

.table-dark td {
  background-color: #f8f9fa;
}

/* Enlaces de la barra lateral */
.nav-pills .nav-link {
  color: black;
  border-radius: 0;
}

.titulo-Gestion-Proyectos {
  background-color: #333;
  color: #fff;
}

/* Estilos de los enlaces en la sidebar */
.sidebar .nav-link {
  margin-bottom: 10px;
}

/* Estilos para la cabecera de la tabla */
.table-info th {
  background-color: #d1ecf1;
}

.user-info {
  margin-bottom: 20px;
}

.user-info a {
  font-size: 14px;
}

/* DRAG & DROP */
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-targets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  height: 80%;
  width: 60%;
}

.table {
  width: 100%;
  text-align: left;
}

td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 200px;
}

.box {
  background: #f9f9f9;
  border: 2px solid #ccc;
  padding: 10px;
  height: auto;
}

.droppable {
  border: 2px solid #646464;
  padding: 20px;
  min-height: 100px;
  background-color: #f9f9f9;
}

.droppable.drag-over {
  border-color: rgb(23, 135, 220);
  background-color: #e0e0ff;
}

.item.dragging {
  opacity: 0.5;
}

.drag-over {
  border: solid 5px rgb(6, 86, 178);
}

.item {
  margin-bottom: 10px;
  background: #fff;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: grab;
}

.hide {
  display: none;
}
